<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col">
            <app-player-info></app-player-info>
        </div>
    </div>
    <div class="row align-items-end justify-content-center">
        <div class="col-4 pt-4">
            <app-skills-bar></app-skills-bar>
        </div>
        <div class="col-4 pb-3">
            <button class="btn btn-outline-warning btn-sm rounded-pill">
        Create/Update
      </button>
            <button class="btn btn-outline-warning btn-sm rounded-pill ml-4">
        Delete
      </button>
        </div>
    </div>
</div>