<div class="container mt-5 mb-5">

    <div class="row text-right mb-1">
        <div class="col">
            <button class="btn btn-warning" routerLink="/admin/players">
        <i class="fa fa-arrow-left"></i>
        Back
      </button>
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="card col-12 col-md-8 bg-white justify-content-center my-auto">
            <div class="col">
                <h3 class="text-center mt-4">Player Creator</h3>

                <form (ngSubmit)="save( f )" #f="ngForm">

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Player's name" [(ngModel)]="player.name" name="name" required>
                    </div>

                    <div class="form-group">
                        <label>Age</label>
                        <input type="text" class="form-control" [(ngModel)]="player.age" name="age" placeholder="Player's age">
                    </div>
                    <div class="form-group">
                        <label>AKA</label>
                        <input type="text" class="form-control" [(ngModel)]="player.aka" name="AKA" placeholder="Player's AKA">
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" [(ngModel)]="player.img" name="img">
                            <label class="custom-file-label">Choose file</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Team</label>
                        <select class="form-control" [(ngModel)]="player.team_id" name="team_id">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Keeper</label>
                        <input type="range" class="form-control-range" [(ngModel)]="player.keeper" name="poder" min="0" max="10">
                        <small *ngIf="player.keeper" class="form-text text-muted">Actual value: {{player.keeper}}</small>
                    </div>
                    <div class="form-group">
                        <label>Defense</label>
                        <input type="range" class="form-control-range" [(ngModel)]="player.defense" name="defense" min="0" max="10">
                        <small *ngIf="player.defense" class="form-text text-muted">Actual value: {{player.defense}}</small>
                    </div>
                    <div class="form-group">
                        <label>Passing</label>
                        <input type="range" class="form-control-range" [(ngModel)]="player.pass" name="passing" min="0" max="10">
                        <small *ngIf="player.pass" class="form-text text-muted">Actual value: {{player.pass}}</small>
                    </div>
                    <div class="form-group">
                        <label>Attack</label>
                        <input type="range" class="form-control-range" [(ngModel)]="player.attack" name="attack" min="0" max="10">
                        <small *ngIf="player.attack" class="form-text text-muted">Actual value: {{player.attack}}</small>
                    </div>


                    <hr>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-warning w-25">Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>