.market-player {
    width: 100px;
    clip-path: circle(50px at center);
}

.player-name {
    border-bottom: 1px solid#f7f7f7;
    border-top: 1px solid #f7f7f7;
}

input[type='range'] {
    overflow: hidden;
    width: 100%;
    border-radius: 1.3em;
    -webkit-appearance: none;
    background-color: #f7f7f7;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    cursor: ew-resize;
    background: #ffc107;
    box-shadow: -80px 0 0 80px#ffc107;
}

.input {
    height: 1.5em;
}

#progressBar {
    width: 90%;
    margin: 10px auto;
    height: 1.5em;
    background-color: #f7f7f7;
    border-radius: 1.3em;
}

#progressBar div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 22px;
    /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #ffc107;
    box-sizing: border-box;
    border-radius: 1.3em;
}

.progress-bar {
    width: 100%;
}