.container-fluid {
    background: url('src/assets/Images/Landing/bg-Stadium.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: scroll;
}