<div class="table-wrapper">
    <table class="table table-dark mb-0">
        <thead>
          <tr>
            <th scope="col">email</th>
            <th scope="col">Team</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>manageremail1@manager.com</td>
            <td>team1</td>
            <td><span class="trash-icon" [innerHTML]="trash"></span><span class="search-icon" [innerHTML]="search"></span></td>
          </tr>
          <tr>
            <td>manageremail2@manager.com</td>
            <td>team2</td>
            <td><span class="trash-icon" [innerHTML]="trash"></span><span class="search-icon" [innerHTML]="search"></span></td>
          </tr>
          <tr>
            <td>manageremail3@manager.com</td>
            <td>team3</td>
            <td><span class="trash-icon" [innerHTML]="trash"></span><span class="search-icon" [innerHTML]="search"></span></td>
          </tr>
          <tr>
            <td>manageremail4@manager.com</td>
            <td>team4</td>
            <td><span class="trash-icon" [innerHTML]="trash"></span><span class="search-icon" [innerHTML]="search"></span></td>
          </tr>
          <tr>
            <td>manageremail5@manager.com</td>
            <td>team5</td>
            <td><span class="trash-icon" [innerHTML]="trash"></span><span class="search-icon" [innerHTML]="search"></span></td>
          </tr>
          <tr>
            <td>manageremail6@manager.com</td>
            <td>team6</td>
            <td><span class="trash-icon" [innerHTML]="trash"></span><span class="search-icon" [innerHTML]="search"></span></td>
          </tr>
          <tr>
            <td>manageremail7@manager.com</td>
            <td>team7</td>
            <td><span class="trash-icon" [innerHTML]="trash"></span><span class="search-icon" [innerHTML]="search"></span></td>
          </tr>
          <tr>
            <td>manageremail8@manager.com</td>
            <td>team8</td>
            <td><span class="trash-icon" [innerHTML]="trash"></span><span class="search-icon" [innerHTML]="search"></span></td>
          </tr>
          <tr>
            <td>manageremail6@manager.com</td>
            <td>team6</td>
            <td><span class="trash-icon" [innerHTML]="trash"></span><span class="search-icon" [innerHTML]="search"></span></td>
          </tr>
          <tr>
            <td>manageremail7@manager.com</td>
            <td>team7</td>
            <td><span class="trash-icon" [innerHTML]="trash"></span><span class="search-icon" [innerHTML]="search"></span></td>
          </tr>
          <tr>
            <td>manageremail8@manager.com</td>
            <td>team8</td>
            <td><span class="trash-icon" [innerHTML]="trash"></span><span class="search-icon" [innerHTML]="search"></span></td>
          </tr>
        </tbody>
      </table>
    </div>