<div class="table-wrapper">
    <table class="table table-dark mb-0">
        <thead>
          <tr>
            <th scope="col">email</th>
            <th scope="col">Team</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let manager of managers">
            <td>{{manager.email}}</td>
            <td>{{manager.team_name}}</td>
            <td><span class="trash-icon" [innerHTML]="trash"></span><span class="search-icon" [innerHTML]="search"></span></td>
          </tr>
          
        </tbody>
      </table>
    </div>