.table {
    font-family: Roboto Slab 400;
    color: #292b2c;
    background-color: white;
}

.thead {
    font-family: Roboto Slab 700;
}
td span {
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

.card-row td a {
    color: #292b2c;
}



