<app-header></app-header>
<div class="row no-gutters">
  <div class="col-md-6">
    <div
      class="leftSide d-flex justify-content-center align-items-center no-gutters"
    >
      <!-- Carousel (Image slider!) -->
      <app-landing-info></app-landing-info>
    </div>
  </div>

  <div class="col-md-6">
    <div
      class="rightSide d-flex justify-content-center align-items-center no-gutters"
    >
      <!-- Sign Up! -->
    </div>
  </div>
</div>
<app-landing-footer></app-landing-footer>
