<ul class="navbar-nav navbar-dark pt-1">
    <li class="nav-item  pr-3 mr-3">
        <a [routerLink]="['/admin/players']" class="nav-link">Players</a>
    </li>
    <li class="nav-item  pr-3 mr-3">
        <a [routerLink]="['/admin/users']" class="nav-link">Users</a>
    </li>
    <li class="nav-item  pr-5 mr-3">
        <a [routerLink]="['/admin/matchcreator']" class="nav-link" href="#">Match Creator</a>
    </li>
</ul>


<ul class="navbar-nav navbar-dark pt-1">


    <li class="nav-item pl-lg-5">
        <p class="user-name mt-2 mr-5"> <img class="mr-2" src="assets/icons/user.png" width="24" height="24" alt="Avatar" /> Username
        </p>
    </li>

    <li> <button class="btn btn btn-warning">Logout</button></li>



</ul>