header{
    background-color: #1D1D1D;
    color: #FFFDF9;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #FFFDF9; 
}

.user,
.right-header {
    display: flex;
    align-items: center;
}

.user p {
    margin-bottom: 0;
}

.user img {
    width: 50px;
}