header {
  background-color: #354f52;
  color: #fffdf9;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color: #fffdf9;
}

.user,
.right-header {
  display: flex;
  align-items: center;
}

.user p {
  margin-bottom: 0;
}

.user img {
  width: 50px;
}
