.navbar {
    background-color: #1D1D1D;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #FFFDF9; 
}

.navbar .field span {
    position: absolute;
}