<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
    <a class="navbar-brand" href="#">Football Academy</a>
   
    <div class="pt-3 pb-2" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0" [formGroup] = "formularioLogin" (ngSubmit)="processForm()">

        <div class="field form-group">          
            <input class="input form-control mr-sm-2" type="text" name="name" formControlName="username" required placeholder="Username" [(ngModel)]="username">
            <!-- <span class="text-danger" *ngIf="this.formularioLogin.get('username').errors?.required">
                (The username field can't be empty)
            </span> -->
        </div>

        <div class="field form-group">
            <input class="input form-control mr-sm-2" type="password" name="password" formControlName="password" required placeholder="password" [(ngModel)]="password">
            <!-- <span class="text-danger" *ngIf="this.formularioLogin.get('password').errors?.required">
                (The password field can't be empty)
            </span> -->
        </div>

        <button class="btn btn-outline-warning my-2 my-sm-0 pl-4 pr-4" type="submit">Access</button>
      </form>
      <a class="text-warning mt-1 d-block" data-toggle="modal" data-target="#passwordModal" href="#">Forgot password?</a>
    </div>
  </nav>

  <div>{{resultado}}</div>

  <app-forgot-password></app-forgot-password>

