<div class="container">
    <div class="card p-5">
        <div class="row">
            <h1 class="pl-3">Skills</h1>
        </div>
        <hr>
        <div class="row justify-content-between">
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Max-age</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                          <option> 1 </option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                  </select>
                </div>

            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Min-age</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                              <option> 1 </option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                      </select>
                </div>

            </div>
        </div>
        <div class="row justify-content-between mt-5">
            <div class="col-6">
                <p>Attack (between 0 and 50)</p>
                <form>
                    <input class="col" type="range" id="attack" name="attack" min="0" max="50">
                </form>
            </div>
            <div class="col-6">
                <p>Defense (between 0 and 50)</p>
                <form>
                    <input class="col" type="range" id="defense" name="defense" min="0" max="50">
                </form>
            </div>
        </div>

        <div class="row justify-content-between mt-3">
            <div class="col-6">
                <p>Pass (between 0 and 50)</p>
                <form>
                    <input class="col" type="range" id="pass" name="pass" min="0" max="50">
                </form>
            </div>
            <div class="col-6">
                <p>Keeper (between 0 and 50)</p>
                <form>
                    <input class="col" type="range" id="defense" name="defense" min="0" max="50">
                </form>
            </div>

        </div>

    </div>
</div>