.container {
    margin-top: 4rem;
    height: 32rem;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fffdf9;
    margin-bottom: 0%;
    
}
.card{
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

p {
    font-size: 1.2rem;
}

span {
    font-weight: 700;
}
.team{
    font-size: 4rem;
    font-weight: 700;
    color:#292b2c;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #d39e00;
}