<div class="container text-uppercase">
  <p>
    <a
      class="btn"
      data-toggle="collapse"
      href="#collapseExample"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Best Players
    </a>
  </p>
  <div class="collapse text-center" id="collapseExample">
    <div class="card card-body"><a href="#">Best Keeper</a></div>
    <div class="card card-body"><a href="#">Best Defense</a></div>
    <div class="card card-body"><a href="#">Best Passer</a></div>
    <div class="card card-body"><a href="#">Best Forward (best attack)</a></div>
  </div>
</div>
