<div class="container text-uppercase">
  <p>
    <a
      class="btn"
      data-toggle="collapse"
      href="#collapseExample"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Best Players
      <img src="\assets\icons\Trophy.png" alt="Trophy" />
    </a>
  </p>
  <div class="collapse text-center" id="collapseExample">
    <div class="card card-body text-center">
      <img
        src="\assets\icons\GoalKeeper.png"
        alt="Best Goal Keeper"
        data-toggle="tooltip"
        data-placement="right"
        title="Tooltip on right"
      />
      Best Goal Keeper
    </div>
    <div class="card card-body">
      <img
        src="\assets\icons\Defense.png"
        alt="Best Defense"
        data-toggle="tooltip"
        data-placement="right"
        title="Tooltip on right"
      />
      Best Defense
    </div>
    <div class="card card-body">
      <img
        src="\assets\icons\Passer.png"
        alt="Best Passer"
        data-toggle="tooltip"
        data-placement="right"
        title="Tooltip on right"
      />
      Best Passer
    </div>
    <div class="card card-body">
      <img
        src="\assets\icons\Forward.png"
        alt="Best Forward"
        data-toggle="tooltip"
        data-placement="right"
        title="Tooltip on right"
      />
      Best Forward
    </div>
  </div>
</div>
