<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">email</th>
            <th scope="col">Team</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>manageremail1@manager.com</td>
            <td>team1</td>
            <td>Larry</td>
          </tr>
          <tr>
            <td>manageremail2@manager.com</td>
            <td>team2</td>
            <td>Larry</td>
          </tr>
          <tr>
            <td>manageremail3@manager.com</td>
            <td>team3</td>
            <td>Larry</td>
          </tr>
        </tbody>
      </table>
</div>
