<!--VIEW XL-->
<div class="container-fluid d-flex flex-row justify-content-center w-100 mt-2 h-100">
    <div class="container-fluid izquierdo w-100 d-none d-xl-block  col-xl-4 mt-5 ml-5 justify-content-center">
        <div class="row ml-2 team">
            <h5 class="text-center mt-3">FC Barcelona</h5>
        </div>
        <div class="row ml-2 team">
            <h5 class="text-center mt-3 text-light">Players:</h5>
        </div>
        <div class="row justify-content-center w-100">

            <div class="lineup-container justify-content-center">

                <div class="playerlist d-flex flex-wrap justify-content-center" cdkDropList #playersList="cdkDropList" [cdkDropListData]="players"
                    [cdkDropListConnectedTo]="[playersList, goalKeppersList, defendersList, midfiledersList, forwardersList]"
                    (cdkDropListDropped)="onDrop($event)">

                    <div class="card bg-light p-1 m-1" *ngFor="let player of players" cdkDrag>
                        <div class="card-body p-1 d-flex flex-row">
                            <div class="imgcontainer">
                                <img [src]="player.img" alt="player.img" class="cirlceImage" />
                            </div>
                            <div id="card-player" class="ml-1 d-flex flex-column justify-content-start">
                                <p  class="p-0">{{ player.name }}</p>
                                <p  class="p-0">{{ player.category }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container derecho w-100 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 ml-4">
        <div class="container-fluid text-center">
            <h2 class="mt-3 ">Choose your Lineup </h2>
            <p class="m-1 mb-3 text-dark" >DRAG & DROP PLAYERS</p>
        </div>
        <div class="row w-100 justify-content-center player-position">
            <div class="col-2">
                <h5 class="text-center mt-3 text-light">GoalKeeper</h5>
            </div>
            <div class="col-2">
                <h5 class="text-center mt-3 text-light">Defenses</h5>
            </div>
            <div class="col-2">
                <h5 class="text-center mt-3 text-light">Midfielders</h5>
            </div>
            <div class="col-2">
                <h5 class="text-center mt-3 text-light">Forwarders</h5>
            </div>
            <div class="playgroung-container column-container d-flex flex-row">

                <div class="list w-25" cdkDropList #goalKeppersList="cdkDropList" [cdkDropListData]="goalKeppers"
                    [cdkDropListConnectedTo]="[playersList, goalKeppersList, defendersList, midfiledersList, forwardersList]"
                    (cdkDropListDropped)="onDrop($event)" [cdkDropListEnterPredicate]="limiterGoalKeeperPredicate">

                    <div class="card bg-light p-1 m-1" *ngFor="let goalKepper of goalKeppers" cdkDrag
                        cdkDragData="playerlist">
                        <div class="card-body p-1 d-flex flex-row">
                            <div class="imgcontainer">
                                <img [src]="goalKepper.img" alt="goalKepper.img" class="cirlceImage" />
                            </div>
                            <div class="ml-1 d-flex flex-column ">
                                <p class="p-0 m-0">{{ goalKepper.name }}</p>
                                <small class="p-0 m-0">{{ goalKepper.category }}</small>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="list w-25" cdkDropList #defendersList="cdkDropList" [cdkDropListData]="defenders"
                    [cdkDropListConnectedTo]="[playersList, goalKeppersList, defendersList, midfiledersList, forwardersList]"
                    (cdkDropListDropped)="onDrop($event)" [cdkDropListEnterPredicate]="limiterPredicate">

                    <div class="card bg-light p-1 m-1" *ngFor="let defender of defenders" cdkDrag>
                        <div class="card-body p-1 d-flex flex-row">
                            <div class="imgcontainer">
                                <img [src]="defender.img" alt="defender.img" class="cirlceImage" />
                            </div>
                            <div class="ml-1 d-flex flex-column justify-content-start">
                                <p class="p-0">{{ defender.name }}</p>
                                <small class="p-0">{{ defender.category }}</small>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="list w-25" cdkDropList #midfiledersList="cdkDropList" [cdkDropListData]="midfielders"
                    [cdkDropListConnectedTo]="[playersList, goalKeppersList, defendersList, midfiledersList, forwardersList]"
                    (cdkDropListDropped)="onDrop($event)" [cdkDropListEnterPredicate]="limiterPredicate">

                    <div class="card bg-light p-1 m-1" *ngFor="let midfielder of midfielders" cdkDrag>
                        <div class="card-body p-1 d-flex flex-row">
                            <div class="imgcontainer">
                                <img [src]="midfielder.img" alt="midfielder.img" class="cirlceImage" />
                            </div>
                            <div class="ml-1 d-flex flex-column justify-content-start">
                                <p class="p-0">{{ midfielder.name }}</p>
                                <small class="p-0">{{ midfielder.category }}</small>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="list w-25" cdkDropList #forwardersList="cdkDropList" [cdkDropListData]="forwarders"
                    [cdkDropListConnectedTo]="[playersList, goalKeppersList, defendersList, midfiledersList, forwardersList]"
                    (cdkDropListDropped)="onDrop($event)" [cdkDropListEnterPredicate]="limiterPredicate">

                    <div class="card  p-1 m-1" *ngFor="let forwarder of forwarders" cdkDrag>
                        <div class="card-body p-1 d-flex flex-row">
                            <div class="imgcontainer">
                                <img [src]="forwarder.img" alt="forwarder.img" class="cirlceImage" />
                            </div>
                            <div class="ml-1 d-flex flex-column justify-content-start">
                                <p class="p-0">{{ forwarder.name }}</p>
                                <small class="p-0">{{ forwarder.category }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--PLAYERS (-1200PX)-->
<div class="container-fluid d-flex flex-row justify-content-center w-100 mt-5 h-100 d-xl-none d-xs-block d-sm-block d-md-block col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="container-fluid izquierdo ">
        <div class="row team">
            <h5 class="text-center mt-3 ml-5 ">FC Barcelona</h5>
        </div>
        <div class="row team">
            <h5 class="text-center mt-3 ml-5 ">Players:</h5>
        </div>
        <div class="col-12 ">
            <div class="row mb-5 justify-content-center" cdkDropList #playersList="cdkDropList" [cdkDropListData]="players"
                [cdkDropListConnectedTo]="[playersList, goalKeppersList, defendersList, midfiledersList, forwardersList]"
                (cdkDropListDropped)="onDrop($event)">

                <div id="player" class="card bg-light p-1 m-1" *ngFor="let player of players" cdkDrag>
                    <div class="card-body p-1 d-flex flex-row">
                        <div class="imgcontainer">
                            <img [src]="player.img" alt="player.img" class="cirlceImage" />
                        </div>
                        <div id="card-player" class="ml-1 d-flex flex-column ">
                            <p class="p-0">{{ player.name }}</p>
                            <small class="p-0">{{ player.category }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MARGIN BOTTOM-->
<div class="space"></div>

<!-- Necesarios cambios en players al hacer drop en playground, y cambios en la vista inferior de players en la zona de drop(no 
acepta deposito). -->
<!-- Sugerencia funcion para tener color predeterminado de border segun posicion del jugador -> amarillo , azul, verde, rojo empezando desde porteria. -->
