body,
html,
p {
    margin: 0
}

body {
    background-color: white;
}
.space{
    height: 10rem;
}

/* COL DERECHA*/
.playgroung-container h5 {
    color: white;
}

.playgroung-container {
    border: 1px solid #E0A800;
    width: 50rem;
    height: 35rem;
    background-image: url(/assets/Images/football-field.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.player-position h5{
    font-size: 0.8rem;
}

h2 {
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    font-weight: 700;
}

/*COL IZQUIERDA*/
.izquierdo{
    background-color: #343A40;
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.team{
    color: white;
    font-weight: 700;
}

.cirlceImage {
    width: 60px;
    height: 60px;
    margin-right: 1em;
    object-fit: contain;
    border: 1px solid #8032a2;
    border-radius: 50px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.list-container {
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    background-color: #495867;
}

.playerlist {
    width: 100%;
    height: 514px;
    padding: 0.5rem;
    border-radius: 4px;
    /* overflow-y: scroll; */
}

.card {
    margin: 1em;
    cursor: pointer;
    width: 190px;
    height: 80px;
    border-radius: 8px;
    border: 1px solid  white;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    
}

.list {
    /* border: RGBA(46, 49, 49, .7) solid 1px; */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    margin-top: 2em;
}

.list-item {
    margin: 10px;
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*MEDIA QUERY*/
@media (max-width: 889px){
    h2{
        margin-bottom: 2rem;
    }
    .card{
        width: 12rem;
    }
    /* #player p{
        size: 2px;
    } */
    .playgroung-container {
        height: 20rem;
    }
    .cirlceImage {
        height: 2rem;
    }
    .player-position h5{
        display: none;
    }
    .izquierda{
        height: 50rem;
    }
}
@media (min-width:600px) and (max-width: 889px){
    .playgroung-container {
        height: 28rem;

    }
    #card-player{
        font-size: 1px;
    }
}