<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-8">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th *ngFor="let head of headers">
              {{ head }}
            </th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of player; let i = index">
            <th>
              {{ player.name }}
            </th>
            <th>
              {{ player.team }}
            </th>
            <td>
              <a [routerLink]="['admin/player/:id', i]"
                ><img src="/assets/Images/trash.png"
              /></a>
              <a href="" class="pl-2"><img src="/assets/Images/lups.png" /></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-2">
      <button class="btn btn-outline-warning btn-block rounded-pill">
        New Player
      </button>
    </div>
  </div>
</div>
