<!-- Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reset your password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form class="form-inline my-2 my-lg-0" [formGroup]="formularioForgotPwd" (ngSubmit)="processFormForgotPwd()">
                    <label class="d-block mb-2 w-100 text-dark" for="email">Enter your email to find your account: </label>
                    <div class="field form-group">
                        <input class="input form-control" type="email" name="email" formControlName="email" required placeholder="email" [(ngModel)]="email">
                        <!-- <span class="text-danger" *ngIf="this.formularioForgotPwd.get('email').errors?.required">
                        (The username field can't be empty)
                    </span>
                    <span *ngIf="this.formularioForgotPwd.get('email').errors?.email">
                      (Email is not valid)
                  </span> -->
                    </div>
                    <button class="btn btn-warning my-2 my-sm-0 pl-4 pr-4 ml-2" type="submit">Send</button>
                </form>
                <div>{{resultado}}</div>
            </div>
            <!-- <div class="modal-footer">
            
        </div> -->
        </div>
    </div>
</div>