<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-6 bg-white justify-content-center my-auto">
            <h3 class="text-center mt-5">Match Creator</h3>
            <div>
                <app-team-selector></app-team-selector>
            </div>

            <h5 class="text-center mt-5">Day of the Match:</h5>
            <input class=" text-center form-control w-50 my-1 mx-auto" type="date" id="start" name="trip-start" value="year-month-day" min="2021-01-01" max="2023-12-31" />
            <a class="btn btn-warning w-100 my-3">Create Match</a>

        </div>
    </div>
</div>