<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-5 justify-content-center">
            <img src="/assets/icons/emblem_purple.png" class="img-fluid mx-auto" />

            <select name="teams" class="custom-select">
            <option>Select Local Team</option>
            <option *ngFor="let manager of managers">
              {{ manager.team_name }}
            </option>
          </select>


        </div>
        <div class="col-1 d-flex align-items-center justify-content-center">
            <h1 class="font-weight-bold">VS</h1>
        </div>
        <div class="col-5 justify-content-center">
            <img src="/assets/icons/emblem_yellow.png" class="img-fluid  mx-auto" />

            <select name="teams" class="custom-select">
          <option>Select Visitor Team</option>
          <option *ngFor="let manager of managers">
            {{ manager.team_name }}
          </option>
        </select>


        </div>
    </div>
</div>